<%= render 'layouts/main_content_menu' if user_signed_in? %>
<div id="single-pin">

	<div class="row">
		<div id="center-content">
			<div class="col-md-6 col-md-offset-3">

				<%= render 'layouts/center_content' %>
			</div>
		</div>
	
		<div id="right_sidebar">
			<div class="col-md-3 col-md-offset-0">	
				<%= render 'layouts/right_sidebar_permanent' %>
			</div>
		</div>

	</div>
</div>
