<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#"><img src="http://www.kissingerassoc.com/images/1.gif"/></a>
      	<div class="small center-to-left ">&copy; 2015 Social Network Inc.
        </div>
     	</div>

      <div class="col-sm-6">
         	<div class="text-center">
            <ul class="list-inline">
              <li><%= link_to "Home", root_path %></li> | <li><%= link_to "About Social Network", about_path %></li> | 
              <li><%= link_to "Terms of Use", "#" %></li> | <li><%= link_to "Privacy Policy", "#" %></li>
            </ul>
         	</div>
      </div>

      <div class="col-sm-3">
          <div class="center-to-right">
  					<p>social icons</p>
       		</div>
   		</div>
   	</div>
  </div>
</div>

