<ul class="nav nav-tabs">
  <li><%= link_to "Home", root_path, class: "active", role: "presentation" %></li>
  <li><%= link_to "Status", statuses_path, role: "presentation" %></li>
  <li role="presentation"><a href="#">Images</a></li>
  <li role="presentation"><a href="#">Videos</a></li>
  <li role="presentation"><a href="#">Links</a></li>
  <li role="presentation"><a href="#">Dating</a></li>
  <li role="presentation"><a href="#">Forum</a></li>
</ul>