<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Images</a></li>
  <li role="presentation"><a href="#">Videos</a></li>
  <li role="presentation"><a href="#">Links</a></li>
  <li role="presentation"><a href="#">Dating</a></li>
  <li role="presentation"><a href="#">Forum</a></li>
</ul>